建议支持 HTTP/2 以提升 DoH 性能

## 需求应用场景

提升 DoH 性能。

## 建议的方案

支持 HTTP/2，参见 [RFC 8484 section 5.2](https://tools.ietf.org/html/rfc8484#section-5.2)。

## 设备信息

SmartDNS 版本：`1.20200908-1524`
